<html>
    <head>
        <style>
            .box{
                width: 100px;
                height: 100px;
                background-color: rebeccapurple;
                animation: move 2s infinite linear forwards;
                transition: all 5s ease;
            }
            @keyframes move{
                0%{
                    width: 100px;
                }
                50%{
                    width: 150px;
                }
                100%{
                    width:100px;
                }
            }
        </style>
    </head>
    <body>
        <div class="box">

        </div>
    </body>
</html>