<html lang="en">
<head></head>
<style>


</style>
<body>
<div style="background: #4e342e ;">
    <center>

        <img style="width:60%"
             src="cid:logo@saarang"/>

    </center>

</div>
<div>

    <center>
        <img style="width: 70%" src="cid:qrcode@saarang">
        <br>
        <br>
        You can see the qr also in our

        <a href="https://play.google.com/store/apps/details?id=org.saarang.app&hl=en_IN">
            official app
        </a>
        <br>
        <br>
        <a href="https://play.google.com/store/apps/details?id=org.saarang.app&hl=en_IN">
            <img src="https://www.google.com/intl/en-IN/cast/about/static/images/download-badges/android-download.png" style="max-width: 60%">

        </a>
        <br>
    </center>
</div>
<div>
    <center>
        <h4> <%= workshop_name %> Workshop </h4>
    </center>
</div>
<div>
    <center>
        <strong>Saarang ID: </strong> <%= saarang_id %><br>
        <strong>Payment ID: </strong> <%= payment_id %><br>
        <strong>Name : </strong> <%= user_name %><br>
    </center>
</div>

</body>
</html>